<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="cn_BD" connectionString="Data Source=PCSISTEMAS;Initial Catalog=SW_BD_MENU;Persist Security Info=True;User ID=sa;Password=S0p0rt3;Connect Timeout=2000000000;Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
		<add name="cn_BD_Cuesti" connectionString="Data Source=PCSISTEMAS;Initial Catalog=CUESTIONARIO;Persist Security Info=True;User ID=sa;Password=S0p0rt3;Connect Timeout=2000000000;Asynchronous Processing=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<appSettings>
		<!-- Inicio: Tiempo Reg. -->
		<add key="ContadorTiempo" value="1"/>
		<add key="ContadorMin" value="1"/>
		<add key="CodEmpresa" value="01"/>
		<!-- Fin: Tiempo Reg. -->
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.2"/>
		<httpRuntime targetFramework="4.5.2" maxRequestLength="1024000" requestLengthDiskThreshold="1000000" shutdownTimeout="200000000" executionTimeout="200000000"/>
		<customErrors mode="Off" defaultRedirect="ErrorPage.aspx">
			<error statusCode="404" redirect="ErrorPage.aspx"/>
		</customErrors>
		<sessionState timeout="45"/>
		<authentication mode="Forms">
			<forms name="McSoftware" path="/" loginUrl="WebForm_Principal.aspx" defaultUrl="~/Intro.aspx" slidingExpiration="true" protection="All" timeout="45"/>
			<!--<forms name="WebAppConsulta" path="/" loginUrl="Index.aspx" defaultUrl="~/Default.aspx" slidingExpiration="true" protection="All" timeout="45" cookieless="UseCookies"/>-->
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>

	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpErrors errorMode="Custom" defaultResponseMode="File">
			<clear/>
			<error statusCode="404" path="errorPages\404.html"/>
		</httpErrors>
		
		<handlers>
			<add name="CAPTCHAHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
		</handlers>
		<modules runAllManagedModulesForAllRequests="false" />
		<validation validateIntegratedModeConfiguration="false"/>
		
		
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="500000000"/>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
			</customHeaders>
		</httpProtocol>
		

	
	</system.webServer>

</configuration>